<html>
<head>
	<title>Smart Alarm</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" type="text/css" href="/css/weather-icons.css">
		<link rel="stylesheet" type="text/css" href="/css/animations.css">
		<link rel="stylesheet" type="text/css" href="/css/styles.css">

</head>
<body>
	
	<button class='next' role='transition' style="display:none;">Next page</button>
  	<div id='page-1' role='page'>
  		<div id="cycler">
			<img class="active" src="/images/tumblr_n22xkk96Gu1qei2wfo1_1280.jpg" />
	  		<img class="img2" src="/images/tumblr_nhnsy4KhX11skrctjo1_1280.jpg" />
	  		<img class="img3" src="/images/tumblr_n8q3xwbAvn1ri06y7o4_1280.jpg" />
	  		<img class="img4" src="/images/tumblr_n8q3xwbAvn1ri06y7o5_1280.jpg" />
		</div>
		<div class="top left">
			<div class="date small dimmed"></div>
			<div class="time"></div>
			<div class="location small dimmed"> </div>
			<div class="calendar xxsmall"></div>
		</div>
		<div class="top right">
			<div class="temp"></div>
			<div class="windsun small dimmed"></div>
			<div class="forecast small dimmed"></div>
		</div>
		<div class="center-ver center-hor"></div>
		<div class="lower-third center-hor"><div class="compliment light"></div></div>
		<div class="bottom center-hor"><div class="news medium"></div></div>
	    
	</div>

	<div id='page-2' role='page'>
		<div class='container'>
			<!-- Top Info -->
			  <div id="title">
			    <span id="track"></span>
			    <div id="timer">0:00</div>
			    <div id="duration">0:00</div>
			  </div>

			  <!-- Controls -->
			  <div class="controlsOuter">
			    <div class="controlsInner">
			      <div id="loading"></div>
			      <div class="btn" id="playBtn"></div>
			      <div class="btn" id="pauseBtn"></div>
			      <div class="btn" id="prevBtn"></div>
			      <div class="btn" id="nextBtn"></div>
			    </div>
			    <div class="btn" id="playlistBtn"></div>
			    <div class="btn" id="volumeBtn"></div>
			  </div>

			  <!-- Progress -->
			  <div id="waveform"></div>
			  <div id="bar"></div>
			  <div id="progress"></div>

			  <!-- Playlist 
			  <div id="playlist">
			    <div id="list"></div>
			  </div> -->

			  <!-- Volume
			  <div id="volume" class="fadeout">
			    <div id="barFull" class="bar"></div>
			    <div id="barEmpty" class="bar"></div>
			    <div id="sliderBtn"></div>
			  </div>-->
		</div>
	</div>
	<canvas id='canvas' style="position:absolute; left:0; top:0; z-index: -1; width:100%; height:100%; opacity: 0.9"></canvas>
	<video id="video" style="float: left; margin-right: 1em; display:none;"></video>


    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src='js/x3dom.js'></script>
	<script src="js/compatibility.js"></script>
	<script src="js/smoother.js"></script>
	<script src="js/objectdetect.js"></script>
	<script src="js/objectdetect.handfist.js"></script>
	<script src="js/handgesture.js"></script>
    <script src="js/changebackground.js"></script>
	<script src="js/jquery.feedToJSON.js"></script>
	<script src="js/ical_parser.js"></script>
	<script src="js/moment-with-langs.min.js"></script>
	<script src="js/config.js"></script>
	<script src="js/rrule.js"></script>
	<script src="js/main.js?nocache=<?php echo md5(microtime()) ?>"></script>
	<script src="js/page-transitions.js"></script>
	<script src="js/example.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
	<script src="js/message.js"></script>
	<script src="js/howler.core.min.js"></script>
  	<script src="js/siriwave.js"></script>
  	<script src="js/player.js"></script>
</body>
</html>
